<div>

    <h1>Blog</h1>
    <div class="btn btn-primary" ui-sref="new-project">Create new</div>

    <table class="table">
        <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Date
            </th>
            <th>
                Author
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="project in projects">
            <td>
                {{project.title}}
            </td>
            <td>
                {{project.dateCreated}}
            </td>
            <td>
                {{project.author}}
            </td>
            <td>
                <div
                    class="btn btn-danger btn-xs"
                    ng-click="deleteClick(project._id)">
                    Delete
                </div>
                <div
                    class="btn btn-primary btn-xs"
                    ui-sref="edit-project({id:project._id})">
                    Edit
                </div>
            </td>
        </tr>
        </tbody>
    </table>

</div>
